.main {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 100dvw;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;

  background-color: rgb(26, 26, 26);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  height: 100%;
  max-width: 3000px;
}
